<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TICKET RESERVATION</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/static/booking.css">
  </head>
  <body>
    <div class="main">
      <div class="title">
        <h1> FLIGHT BOOKING SYSTEM </h1>
      </div>
      <div class="container">
        <div class="left">
          <div class="formClass">
            <div class="formTitle">
              TICKET BOOKING
            </div>
            <form autocomplete="off" id="bookingForm" method="POST">
              <div class="field">
                PERSONAL INFO:
                
                <input type="text" name="name" id="name" pattern="[A-Za-z\s]+" placeholder="FULL NAME"
                  required>
                
              </div>
              <!-- <div class="field">
                <input type="number" name="age" id="age" placeholder="AGE"
                  required>
              </div>

              <div class="field">
                <input type="gender" name="gender" id="gender"
                  placeholder="GENDER" required>
                
              </div> -->

              <div class="field">
                <input type="number" min="0" name="number" id="numb"
                  placeholder="MOBILE NUMBER" required>
              </div>


              <div class="field">
               FLIGHT INFO:  
                <input type="text" pattern="[A-Za-z]+" name="fromstation" id="from"
                  placeholder="FROM" required onclick="setFrom()">
              </div>

              <div class="field">
                <input type="text" pattern="[A-Za-z\s]+" name="tostation" id="to"
                  placeholder="TO"
                  required onclick="setTo()">
              </div>
              <div class="field">
                <select id="p_class" name="p_class">
                  
                    <option value="BUSINESS CLASS">BUSINESS CLASS</option>
                    <option value="ECONOMY CLASS">ECONOMY CLASS</option>

                </select>
                </div>
              <div class="field">
                <!-- <input type="number" id="train_no" name="train_no" placeholder="TRAIN NO"> -->
                
                <input type="number" max="1" min="1" value="1" id="seats" name="seats" hidden >
                <br>  
                <input type="text" name="airways" value="{{airways}}" >
                <input type="number" name="flight_n" value="{{flight_n}}" >
                <input type="number" name="seat_no" >


                <!-- <select id="train_name" name="train_name">
                  {% for train in trains %}
                    <option value="{{ train[0] }}">{{ train[0] }}</option>
                  {% endfor %}
                </select> -->
              </div>


              <div class="field">
                <input type="DATE" name="dt" id="dt" placeholder="DATE">
              </div>

              <!-- <div class="field">
                <input type="TIME" name="tm" id="tm" placeholder="TO">
              </div> -->

              <div class="click">
                <button type="BOOK" name="BOOK" id="BOOK">BOOK </button>
              
              </div>


            </form>
            <div class="home">
            <button type="home" name="home"><a href="http://127.0.0.1:5000/">HOME</a></button>
             </div>
          </div>
        </div>



        <div class="right">
          <div class="map">
            <img src="/static/a.png" usemap="#image_map">
            <map name="image_map">
              <area class="stn" id="csmt" coords="379,587,399,603" shape="rect">
              <area class="stn" id="goa"  coords="409,709,431,731" shape="rect">
                <area class="stn" id="cochin"  coords="493,885,507,898" shape="rect">
                  <area class="stn" id="salem"  coords="545,831,566,847" shape="rect">
                    <area class="stn" id="Vadodara"  coords="392,473,409,493" shape="rect">
                      <area class="stn" id="sardar vallabh bhai patel"  coords="375,452,388,463" shape="rect">
                      <area class="stn" id="biju patnaik"  coords="796,544,812,564" shape="rect">
                      <area class="stn" id="lal bahadur shastri"  coords="700,365,720,381" shape="rect">
                      <area class="stn" id="gaya"  coords="766,391,788,407" shape="rect">
                      <area class="stn" id="jodhpur"  coords="384,336,404,349" shape="rect">
                      <area class="stn" id="tribhuvan"  coords="782,285,800,301" shape="rect">
                      <area class="stn" id="jaipur"  coords="473,313,490,332" shape="rect">
                      <area class="stn" id="hindustan aeronautics"  coords="533,792,553,809" shape="rect">
                      <area class="stn" id="tripura"  coords="945,425,960,437" shape="rect">
                      <area class="stn" id="indira gandhi int"  coords="515,253,538,270" shape="rect">
                      <area class="stn" id="trivandrum"  coords="511,939,526,951" shape="rect">
                      <area class="stn" id="shimla"  coords="513,157,535,176" shape="rect">
                      <area class="stn" id="kullu"  coords="517,125,538,147" shape="rect">
                      <area class="stn" id="jammu"  coords="441,94,461,117" shape="rect">
                      <area class="stn" id="srinagar"  coords="438,48,461,65" shape="rect">
                      <area class="stn" id="leh"  coords="529,39,548,60" shape="rect">
            
            </map>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>